@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-monserat: "Montserrat", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --color-primary:#00855F; 
    --color-secondary:#52504E; 
}